.app__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  align-items: center;
}
body {
  background: #f5f6fa;
}

.app {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

.app__stats {
  display: flex;
  justify-content: space-between;
}

.app__left {
  flex: 0.9;
}

@media (max-width: 900px) {
  .app {
    flex-direction: column;
  }
}
