.app__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  align-items: center;
}
body {
  background: #f5f6fa;
}

.app__stats {
  display: flex;
  justify-content: space-between;
}
