.map {
  height: 500px;
  background-color: white;
  border-radius: 20px;
  padding: 1rem;
  margin-top: 16px;
  box-shadow: 0 0 8px -4px rgba(0, 0, 0, 0.5);
}

.map .leaflet-container {
  height: 100%;
}
