.map {
  height: 500px;
  background-color: white;
  border-radius: 20px;
  padding: 1rem;
  margin-top: 16px;
  box-shadow: 0 0 8px -4px rgba(0, 0, 0, 0.5);
}

.map .leaflet-container {
  height: 100%;
}

.info-flag {
  height: 80px;
  width: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 1px;
}

.info-flag img {
  width: 100px;
  border-radius: 5px;
}

.info-name {
  font-size: 20px;
  font-weight: bold;
  color: #555;
}
